<ion-header [translucent]="true">
  <ion-toolbar>
    <!--Texto com um tipo de letra importada-->
    <ion-title>Reservas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--Faz a listagem de cada reserva com os respetivos produtos-->
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let reserva of reservas">
      <ion-label>
        <h2>Loja: {{ reserva.store?.name || 'Não especificado' }}</h2>
        <p>Endereço: {{ reserva.store?.address || 'Não disponível' }}</p>
        <p>Horário: {{ reserva.store?.hours || 'Não disponível' }}</p>
        <p>Produtos Reservados:</p>
        <ion-list>
          <ion-item *ngFor="let produto of reserva.products">
            <ion-thumbnail slot="start">
              <img [src]="'./assets/' + produto.img">
            </ion-thumbnail>
            <ion-label>
              <h3>{{ produto.title }}</h3>
              <p>Preço: €{{ produto.preco }}</p>
              <p>Cor: {{ produto.cor }}</p>
              <p>Tamanho: {{ produto.tamanho }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!--Botões para navegação mais rápida-->
<ion-footer >
  <ion-toolbar color="toolbar-background" style="background: white;">
    <ion-row>
      <ion-col size="4" >
        <ion-button expand="block" (click)="home()" fill="outline" style="color: black;">
          <ion-icon slot="start" name="home" style="color: black;"></ion-icon >
          <ion-text style="color:black">Home</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" (click)="carrinho()" fill="outline" style="color: black;">
          <ion-icon slot="start" name="basket" style="color: black;"></ion-icon>
          <ion-text style="color:black">Cesta</ion-text>
          <ion-badge slot="end" color="blue">{{ (carrinhoService.carrinho$ | async)?.length }}</ion-badge>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" (click)="login()" fill="outline" style="color: black;">
          <ion-icon slot="start" name="person" style="color: black;"></ion-icon>
          <ion-text style="color:black">Conta</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

