<ion-header [translucent]="true">
  <ion-toolbar>
    <!--Texto com um tipo de letra importada-->
    <ion-title class="bebas-neue-regular">{{produto.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!--Texto com um tipo de letra importada-->
      <ion-title size="large" class="bebas-neue-regular">{{produto.title}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>



  <!--Amostra informação relativa ao produto selecionado-->
    <ion-card *ngIf="produto">
      <img [src]="'./assets/' + produto.img" style="width: 100%; height: auto;">
      <ion-card-header>
        <ion-card-title>{{ produto.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Preço: €{{ produto.preco }}</p>
        <p>Cor: {{ produto.cor }}</p>
        <p>Referência: {{ produto.referencia }}</p>
        <p>Composição: {{ produto.composicao }}</p>
        <p>Quantidade Disponivel: {{produto.quantidade}}</p>
        <!--Botão para adicionar o produto á cesta-->
        <ion-button expand="block" class="add-to-list button-dark-gray" (click)="adicionarAoCarrinho()" >Adicionar á cesta</ion-button>
      </ion-card-content>
    </ion-card>
  
    
</ion-content>


<!--Botões de navegação rapida-->
<ion-footer >
  <ion-toolbar color="toolbar-background" style="background: white;">
    <ion-row>
      <ion-col size="4" >
        <ion-button expand="block" (click)="home()" fill="outline" style="color: black;">
          <ion-icon slot="start" name="home" style="color: black;"></ion-icon >
          <ion-text style="color:black">Home</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" (click)="carrinho()" fill="outline" style="color: black;">
          <ion-icon slot="start" name="basket" style="color: black;"></ion-icon>
          <ion-text style="color:black">Cesta</ion-text>
          <ion-badge slot="end" color="blue">{{ (carrinhoService.carrinho$ | async)?.length }}</ion-badge>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" (click)="login()" fill="outline" style="color: black;">
          <ion-icon slot="start" name="person" style="color: black;"></ion-icon>
          <ion-text style="color:black">Conta</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
