.button-dark-gray {
    --background: #333; /* Cinza escuro */
    --color: white; /* Cor do texto */
  }
/* Estilos para os botões do alerta */
.botao-nao, .botao-sim {
  --ion-color-contrast: #000000; /* Cor do texto para preto */
}

