/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

//Tipo de letra importada
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

//Mudança da cor do background geral da app
:root {
  --ion-background-color: #f7f2cad4; 
  
}

.logout-button {
  --background: #FF3B30;    // Cor de fundo vermelha
  --color: #FFFFFF;         // Cor de texto branca

  --ion-item-background: var(--background);
  --ion-color-base: var(--color);

  font-size: 14px;          // Reduzir o tamanho da fonte
  padding: 8px 16px;        // Reduzir o padding para diminuir a altura geral
  margin-top: 100px;         // Adicionar margem superior para deslocar para baixo

  width: 80%;               // Reduzir a largura para menos que o padrão
  margin-left: auto;        // Centralizar o botão com margem automática à esquerda
  margin-right: auto;       // Centralizar o botão com margem automática à direita
}



  
